* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: rgb(43, 84, 199);
}
::-moz-selection {
  background-color: rgb(43, 84, 199);
}

textarea, pre, input {
  font-family: "Consolas", "Menlo", "Courier", monospace;
}

body, textarea, input {
  background-color: rgb(16, 19, 24);
}

#display {
  /* min-height: 96vh; */
  margin: 1vh 2vw;
  display: grid;
  grid-gap: 0;
  grid-template-rows: 0fr 0fr 1fr;
  grid-template-areas: 'selector selector selector selector'
                       'source   output   output   output'
                       'ast      output   output   output';
}

#display.bad {
  grid-template-columns: 1fr;
  grid-template-areas: 'selector'
                       'source  '
                       'ast     ';
}

#selectorDisplay {
  grid-area: selector;
}

#selectorDisplay .label {
  color: rgb(5, 116, 118);
  text-align: left;
  margin-left: 20px;
}

#selector {
  width: 100%;
  margin-bottom: 20px;
  padding: 2px 0 0 10px;
  border: 2px solid rgb(34, 41, 45);
  border-radius: 5px;
  color: rgb(7, 136, 138);
  caret-color:rgb(51, 209, 211);
  box-shadow: 0 2px 4px rgb(0, 0, 0) inset;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

#selectorDisplay .highlight {
  color: rgb(105, 249, 198);
}

#selector.highlight {
  color: rgb(105, 249, 198);
  border-color: rgb(15, 220, 148);
  outline: none;
}

#sourceDisplay {
  grid-area: source;
  border: 2px solid rgb(34, 41, 45);
  border-top: 4px solid rgb(34, 41, 45);
  border-left: 4px solid rgb(34, 41, 45);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 4px rgb(0, 0, 0) inset;
}

#sourceDisplay.highlight {
  border-color: rgb(252, 154, 154);
}

#sourceDisplay .label {
  color: rgb(131, 70, 70);
  margin-bottom: 5px;
}

#sourceDisplay .label.highlight {
  color: rgb(252, 154, 154);
}

#source {
  width: calc(100% - 8px);
  margin: 0 2px 2px 6px;
  border: none;
  border-left: 1px dotted rgba(46, 46, 46, 0.4);
  color: rgb(131, 70, 70);
}

#source.highlight {
  color: rgb(252, 154, 154);
  caret-color: rgb(165, 90, 250);
  outline: none;
}

#display.bad #sourceDisplay {
  border-top-right-radius: 5px;
  border-right-width: 4px;
}

#astDisplay {
  grid-area: ast;
  overflow: scroll;
  border: 2px solid rgb(34, 41, 45);
  border-bottom: 4px solid rgb(34, 41, 45);
  border-left: 4px solid rgb(34, 41, 45);
  box-shadow: 0 2px 4px rgb(0, 0, 0) inset;
  border-radius: 0 0 0 5px;
  color: rgb(155, 150, 15);
}

#display.bad #astDisplay {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 4px solid rgb(34, 41, 45);
  border-bottom: 4px solid rgb(34, 41, 45);
}

#selectorAst {
  height: 100%;
  max-width: 96vw;
  margin: 0 2px 2px 6px;
  border-left: 1px dotted rgba(46, 46, 46, 0.4);
}


#astDisplay .label {
  margin-bottom: 10px;
}

#outputDisplay {
  grid-area: output;
  border-top: 4px solid rgb(34, 41, 45);
  border-right: 4px solid rgb(34, 41, 45);
  border-bottom: 4px solid rgb(34, 41, 45);
  border-left: 2px solid rgb(34, 41, 45);
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 4px rgb(0, 0, 0) inset;
  overflow: scroll;
  color: rgb(45, 191, 5);
}

#display.bad #outputDisplay {
  width: 0;
  height: 0;
  border: none;
}

#output {
  margin: 0 2px 2px 6px;
  border-left: 1px dotted rgba(46, 46, 46, 0.4);
}

#results {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 20vw;
  padding: 2px 4px 0 4px;
  margin-bottom: 10px;
}

#results.good {
  color: rgb(22, 228, 104);
}

#results.bad {
  color: rgb(228, 111, 22);
}

#numMatches {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2em;
  text-shadow: 0 1px 3px rgb(0, 0, 0);
  font-weight: bold;
}

.label {
  margin: 10px 0 0;
  font-size: 1.4em;
  text-align: center;
}

*.highlight {
  transition: 0.3s cubic-bezier(.2,1.89,.41,1.88);
}

.spread {
  background-color: rgb(16, 19, 24);
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 750px) {
  #display {
    max-height: 96vh;
  }
}

@media screen and (max-width: 750px) {
  #display {
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: 'selector'
                         'source'
                         'ast'
                         'output';
  }
  #astDisplay, #outputDisplay {
    overflow-y: auto;
    overflow-x: scroll;
  }
  #selectorDisplay {
    position: sticky;
    top: 0;
  }
  #selector {
    border: 4px solid rgb(34, 41, 45);
  }
  #sourceDisplay {
    border-right: 4px solid rgb(34, 41, 45);
    border-top-right-radius: 5px;
  }
  #astDisplay {
    border-right: 4px solid rgb(34, 41, 45);
    border-bottom: 2px solid rgb(34, 41, 45);
    border-radius: 0;
  }
  #outputDisplay {
    border-top: 2px solid rgb(34, 41, 45);
    border-left: 4px solid rgb(34, 41, 45);
    border-radius: 0 0 5px 5px;
  }
}